.Projects {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: auto;
    justify-content: center;
    font-size: 24px;
    backdrop-filter: blur(10px);
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Matter,sans-serif;
    padding: 3em 2em;
    border-radius: 20px;
    margin-bottom: 5em;
}

.Projects h2 {
    font-size: 50px;
    margin-top: -50px;
}


@media (max-width: 768px) {
  .Projects {
    margin-left: 5%;
    margin-right: 5%;
    padding: 2em 1em;
    margin-bottom: 3em;
  }

  .Projects h2 {
    font-size: 30px;
    margin-top: -30px;
  }
}